
.flex-container-about-me {
  display: flex;
  margin: 0 auto;
  width:80%;
  margin-top: 85px;
  margin-bottom: 85px;
}

.flex-item-about-me {
  /*background-color: #8a918e;*/
  width: 50%;
  height: 400px;
  flex-direction: row;
  padding: 5px;
}

.logo {
  width: 60px;
  height: 60px;
  margin-left: 20px;
}

@media (max-width: 750px) {
  body {
    background-color: red;
  }

}

.page-container {
  padding: 0px 20px 0px 20px;
}



.about-title {
  font-family: 'Anton', sans-serif;
  color: #6f7175;
}

h2 {
  font-family: 'Palanquin', sans-serif;
  color: #6f7175;
}

p {
  font-family: 'Palanquin', sans-serif;
  color: #6f7175;
}

.flex-item-my-image {
  /*background-color: #c5ccc7;*/
  width: 50%;
  height: 400px;
  flex-direction: row;
}

.headshot {
  width: 400px;
  margin-left: 40px;
  margin-top: 15px;
}

.nav-wrapper {
  background-color: #78758E;
}

.nav {
  color: #6f7175;
}

.flex-container {
  display: flex;
  width:  50%;
  margin: 0 auto;
}

.flex-header {
  background-color: #8a918e;
}


.flex-item-portolio-preview-image {
  background-color: #8a918e;
  width: 50%;
  height: 250px;
  margin-top: 50px;
}


.flex-item-portfolio-preview-summary {
  width: 50%;
  height: 250px;
  margin-top: 50px;

}

.flex-item-portfolio-preview-summary:hover {
  background-color: #5D527C;
  width: 50%;
  height: 250px;
  margin-top: 50px;
}

.flex-item-portfolio-preview-summary-2 {
  width: 50%;
  height: 250px;
}

.flex-item-portfolio-preview-summary-2:hover {
  background-color: #5D527C;
  width: 50%;
  height: 250px;
}

.preview-summary {
  padding: 25px;
}

.preview-summary:hover {
  color: #FFFFFF;
}

.flex-item-portolio-preview-2 {
  background-color: #8a918e;
  width: 50%;
  height: 250px;
}



.flex-container-portfolio-page-items {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
}

.flex-item-portfolio {
  background-color: #c5ccc7;
  width: 30%;
  height: 400px;
  flex-direction: row;
  margin-top: 20px;
  margin-right: 20px;
}

.flex-item-my-portfolio-preview-blurb {
  /*background-color: #8a918e;*/
  width: 60%;
  height: 400px;
  flex-direction: row;
  margin-top: 20px;
}

.flex-container-portfolio-menu {
display: flex;
width: 50%;
margin-top: 50px;
margin-left: 100px;
}

.flex-item-portfolio-menu {
  margin: auto;

}

h4 {
    font-family: 'Anton', sans-serif;
    color: #6f7175;
}

h4:hover {
  color: #5D527C;
}

.flex-container-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

#q-graph {
  display: block; /* fixes layout wonkiness in FF1.5 */
  position: relative;
  width: 600px;
  height: 300px;
  margin: 1.1em 0 0;
  padding: 0;
  background: transparent;
  font-size: 11px;
}

#q-graph caption {
  caption-side: top;
  width: 600px;
  text-transform: uppercase;
  letter-spacing: .5px;
  top: -40px;
  position: relative;
  z-index: 10;
  font-weight: bold;
}

#q-graph tr, #q-graph th, #q-graph td {
  position: absolute;
  bottom: 0;
  width: 150px;
  z-index: 2;
  margin: 0;
  padding: 0;
  text-align: center;
}

#q-graph td {
  transition: all .3s ease;

  &:hover {
    background-color: desaturate(#85144b, 100);
    opacity: .9;
    color: white;
  }
}

#q-graph thead tr {
  left: 100%;
  top: 50%;
  bottom: auto;
  margin: -2.5em 0 0 5em;}
#q-graph thead th {
  width: 7.5em;
  height: auto;
  padding: 0.5em 1em;
}
#q-graph thead th.sent {
  top: 0;
  left: 0;
  line-height: 2;
}
#q-graph thead th.paid {
  top: 2.75em;
  line-height: 2;
  left: 0;
}

#q-graph tbody tr {
  height: 296px;
  padding-top: 2px;
  border-right: 1px dotted #C4C4C4;
  color: #AAA;
}
#q-graph #q1 {
  left: 0;
}
#q-graph #q2 {left: 150px;}
#q-graph #q3 {left: 300px;}
#q-graph #q4 {left: 450px; border-right: none;}
#q-graph tbody th {bottom: -1.75em; vertical-align: top;
font-weight: normal; color: #333;}
#q-graph .bar {
  width: 60px;
  border: 1px solid;
  border-bottom: none;
  color: #000;
}
#q-graph .bar p {
  margin: 5px 0 0;
  padding: 0;
  opacity: .4;
}
#q-graph .sent {
  left: 13px;
  background-color: $color-sent;
  border-color: transparent;
}
#q-graph .paid {
  left: 77px;
  background-color: $color-paid;
  border-color: transparent;
}


#ticks {
  position: relative;
  top: -300px;
  left: 2px;
  width: 596px;
  height: 300px;
  z-index: 1;
  margin-bottom: -300px;
  font-size: 10px;
  font-family: "fira-sans-2", Verdana, sans-serif;
}

#ticks .tick {
  position: relative;
  border-bottom: 1px dotted #C4C4C4;
  width: 600px;
}

#ticks .tick p {
  position: absolute;
  left: -5em;
  top: -0.8em;
  margin: 0 0 0 0.5em;
}
